* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #fff;
  overflow-x: hidden;
}

header {
  padding: 20px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(85, 9, 22);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: rgb(86, 5, 18);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  background: linear-gradient(145deg, #0b0b0b, #151515);
}

.hero-text {
  max-width: 50%;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.hero-text span {
  color: rgb(99, 17, 25);
}

.hero-text h3 {
  color: #aaa;
  margin: 10px 0 20px;
}

.hero-text p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  background-color: rgb(108, 8, 23);
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(92, 7, 7);
}

.btn-outline {
  border: 2px solid rgb(119, 15, 24);
  color: rgb(121, 7, 7);
  padding: 10px 23px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-outline:hover {
  background-color: rgb(194, 25, 25);
  color: #fff;
}

.hero-img img {
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(199, 13, 35, 0.4);
}

.skills {
  text-align: center;
  padding: 80px 0;
}

.skills h2 {
  color: rgb(54, 3, 3);
  margin-bottom: 40px;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.skills li {
  background-color: #1a1a1a;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid rgb(86, 9, 9);
}

.contact {
  text-align: center;
  padding: 80px 0;
}

.contact h2 {
  color: rgb(110, 16, 16);
  margin-bottom: 20px;
}

.socials a {
  display: inline-block;
  margin: 10px;
  color: rgb(104, 10, 10);
  text-decoration: none;
  border: 1px solid rgb(109, 10, 10);
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.socials a:hover {
  background-color: rgb(85, 12, 23);
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
  color: #888;
  background-color: #0b0b0b;
}